@page "{id:int}"
@model Restaurant.View.Pages.Configurations.Waiters.Edit
@{
    ViewData["Title"] = "Editando garçom " + @Model.waiter!.FirstName + " " + @Model.waiter!.LastName;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <div class="mb-6">
        <input type="number" min="1" asp-for="waiter!.Code" placeholder="Matrícula" class="
                        w-full
                        rounded-md
                        border
                        bordder-[#E9EDF4]
                        py-3
                        px-5
                        bg-[#FCFDFE]
                        text-base text-body-color
                        placeholder-[#ACB6BE]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        " />
    </div>
    <div class="mb-6">
        <input type="text" asp-for="waiter!.FirstName" placeholder="Nome" class="
                        w-full
                        rounded-md
                        border
                        bordder-[#E9EDF4]
                        py-3
                        px-5
                        bg-[#FCFDFE]
                        text-base text-body-color
                        placeholder-[#ACB6BE]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        " />
    </div>
    <div class="mb-6">
        <input type="text" asp-for="waiter!.LastName" placeholder="Sobrenome" class="
                        w-full
                        rounded-md
                        border
                        bordder-[#E9EDF4]
                        py-3
                        px-5
                        bg-[#FCFDFE]
                        text-base text-body-color
                        placeholder-[#ACB6BE]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        " />
    </div>
    <div class="mb-6">
        <input type="text" asp-for="waiter!.Phone" maxlength="15" placeholder="Telefone" onkeyup="handlePhone(event)"
            class="
                        w-full
                        rounded-md
                        border
                        bordder-[#E9EDF4]
                        py-3
                        px-5
                        bg-[#FCFDFE]
                        text-base text-body-color
                        placeholder-[#ACB6BE]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        " />
    </div>
    <div class="mb-10">
        <input type="hidden" asp-for="waiter!.Id" />
        <button type="submit" value="@Model.waiter.Id" class="
                        w-full
                        rounded-md
                        border
                        bordder-primary
                        py-3
                        px-5
                        bg-indigo-500 
                        hover:bg-indigo-600 
                        text-white 
                        font-semibold
                        cursor-pointer
                        hover:bg-opacity-90
                        transition
                        ">Editar</button>
    </div>
</form>

@section Scripts
{
<script>
    const handlePhone = (event) => {
        let input = event.target
        input.value = phoneMask(input.value)
    }

    const phoneMask = (value) => {
        if (!value) return ""
        value = value.replace(/\D/g, '')
        value = value.replace(/(\d{2})(\d)/, "($1) $2")
        value = value.replace(/(\d)(\d{4})$/, "$1-$2")
        return value
    }

</script>
}
