@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html class="h-full m-full p-0 m-0">

<head>
  <meta name="viewport" content="width=device-width" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>@ViewBag.Title</title>
</head>

<body class="flex flex-col h-full m-full p-0 m-0 bg-slate-100">
  @await Component.InvokeAsync("Header")

  <main class="flex-auto flex-col">
    <div class="m-4">
      <h1 class="text-4xl font-bold pb-6 text-gray-800">@ViewData["Title"]</h1>
      @RenderBody()
    </div>

  </main>

  @await Component.InvokeAsync("Footer")
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
