@page "{id:int}"
@model Restaurant.View.Pages.CloseService.CloseService
@{
    ViewData["Title"] = "Fechar Pedido";
}

<div>

    <p class="text-center text-lg">Obrigado pelo ótimo atendimento!</p>

    <a href="/index"
    type="button"
    class="
                        rounded-md
                        border
                        bordder-primary
                        py-3
                        px-5
                        bg-indigo-500 
                        hover:bg-indigo-600 
                        text-white 
                        font-semibold
                        cursor-pointer
                        hover:bg-opacity-90
                        transition"
    data-te-ripple-init
    data-te-ripple-color="light">
    Voltar ao inicio</a>
    
</div>
