@page
@model TodoApi.Pages.Orders.Index
@{
    ViewData["Title"] = "Anotar Pedido";
}


<div>
    <div class="p10 bg-slate-100">
        <form>
            <div>
                <input type="text" name="tableId" placeholder="Número da mesa" />
                <input type="text" name="tableId" placeholder="Código do garçom" />
                <input type="text" name="tableId" placeholder="Código do garçom" />
                <input type="text" name="tableId" placeholder="Código do garçom" />
            </div>
        </form>
    </div>
</div>
