@page
@model TodoApi.Pages.Orders.Index
@{
    ViewData["Title"] = "Anotar Pedido";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="flex justify-center">
    <div class="p-5 border border-slate-300 rounded w-1/2 bg-white">
        <form method="post">
            <input id="rows" type="number" value="0" hidden />
            <div class="flex flex-col justify-center items-center">
                <label class="mb-1 w-full">Informe a mesa:</label>
                <select class="p-2 border rounded mb-3 text-gray-600 w-full" asp-for="TableId" asp-items="Model.tables">
                </select>

                <label class="mb-1 w-full">Selecione o garçom:</label>
                <select class="p-2 border rounded mb-3 text-gray-600 w-full" asp-for="WaiterId" asp-items="Model.waiters">
                </select>

                <div class="flex justify-center">
                    <div class="mr-2">
                        <label class="mb-1 w-full">Selecione o produto:</label>
                        <select class="p-2 border rounded mb-3 text-gray-600 w-full" asp-for="ProductId" asp-items="Model.products">
                        </select>
                    </div>
                    <div class="mr-2">
                        <label class="mb-1 w-full">Selecione a quantidade:</label>
                        <input type="number" placeholder="Quantidade" class="p-2 border rounded mb-3 w-full" min="1" max="100" asp-for="qty" />
                    </div>
                </div>

                <button type="submit" class="bg-green-500 hover:bg-green-600 text-white p-2 rounded w-1/2 mt-3">Anotar pedido</button>
            </div>
        </form>
    </div>
</div>
