@page
@model Restaurant.View.Pages.Configurations.Products.Create
@{
    ViewData["Title"] = "Configurações - Produtos - Criar";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (!ViewData.ModelState.IsValid)
{
    <div role="alert">
    <div class="bg-red-500 text-white font-semibold rounded-t px-4 py-2">
        <p>Por favor, corrija os seguintes erros:</p>

    </div>
    <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
        <ul>
            <li>Alguns campos podem estar vazios</li>
        </ul>
    </div>
</div>
}

<form method="post">
    <div class="mb-6 mt-6">
        <input type="text" asp-for="product!.Name" placeholder="Nome" class="
                        w-full
                        rounded-md
                        border
                        bordder-[#E9EDF4]
                        py-3
                        px-5
                        bg-[#FCFDFE]
                        text-base text-body-color
                        placeholder-[#ACB6BE]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        " />
    </div>
    <div class="mb-6">
        <input type="text" asp-for="product!.Description" placeholder="Descrição" class="
                        w-full
                        rounded-md
                        border
                        bordder-[#E9EDF4]
                        py-3
                        px-5
                        bg-[#FCFDFE]
                        text-base text-body-color
                        placeholder-[#ACB6BE]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        " />
    </div>
    <div class="mb-6">
        <input type="text" asp-for="product!.Price" placeholder="Preço" class="
                        w-full
                        rounded-md
                        border
                        bordder-[#E9EDF4]
                        py-3
                        px-5
                        bg-[#FCFDFE]
                        text-base text-body-color
                        placeholder-[#ACB6BE]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary" />
    </div>
    <div class="mb-6">
        <select asp-for="SelectedCategory" asp-items="Model.categories" class="w-full
                        rounded-md
                        border
                        bordder-[#E9EDF4]
                        py-3
                        px-5
                        bg-[#FCFDFE]
                        text-base text-body-color
                        placeholder-[#ACB6BE]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary">

        </select>
    </div>
    <div class=" mt-10">
        <input type="submit" value="Cadastrar Produto" class="
                        w-full
                        rounded-md
                        border
                        border-primary
                        py-3
                        px-5
                        bg-indigo-500 
                        hover:bg-indigo-600 
                        text-white 
                        font-semibold
                        cursor-pointer
                        hover:bg-opacity-90
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        " />
    </div>
</form>
