@page "{id:int}"
@model TodoApi.Pages.CloseService.CloseService
@{
    ViewData["Title"] = "Fechar Pedido";
}

<h1>@ViewData["Title"]</h1>

<div>

    <h1>Obrigado pelo ótimo atendimento!</h1>

    <a href="/index"
    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
    Voltar ao inicio</a>
    
</div>