@page "{id:int}"
@model TodoApi.Pages.Configurations.Tables.Edit
@{
    ViewData["Title"] = "Editando Mesa " + @Model.table!.Code;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <div class="mb-6">
        <input type="text" asp-for="table!.Code" placeholder="Código da Mesa" class="
                        w-full
                        rounded-md
                        border
                        bordder-[#E9EDF4]
                        py-3
                        px-5
                        bg-[#FCFDFE]
                        text-base text-body-color
                        placeholder-[#ACB6BE]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-primary
                        " />
    </div>
    <div class="mb-10">
        <input type="hidden" asp-for="table!.Id" />
        <button type="submit" value="@Model.table.Id" class="
                        w-full
                        rounded-md
                        border
                        bordder-primary
                        py-3
                        px-5
                        bg-indigo-500 
                        hover:bg-indigo-600 
                        text-white 
                        font-semibold
                        cursor-pointer
                        hover:bg-opacity-90
                        transition
                        ">Editar</button>
    </div>
</form>
