@page
@model Pages.Index
@{
    ViewData["Title"] = "Registrar pedidos em uma mesa";
}

<div class="grid grid-cols-4 gap-4">
    @if (Model.tables.Any())
    {
        @foreach (var table in Model.tables)
        {
            
            <div class="w-fit h-fit p-8 border-2 @table.Status == true ? bg-orange-400 : bg-slate-800  rounded">
            <p>Mesa @table.Id</p>
            </div>  
            
        }  
    }
    else{
        <p>Não há mesas cadastradas</p>
    }
    
</div>



<div class="flex flex-col mt-4">
    <h3 class="text-lg">Legenda</h3>
    <div class="flex">
        <div class="w-4 h-4 bg-slate-800 rounded mr-1"></div>
        <p class="text-sm">Mesa disponível</p>
    </div>
    <div class="flex">
        <div class="w-4 h-4 bg-orange-400 rounded mr-1"></div>
        <p class="text-sm">Mesa ocupada</p>
    </div>
</div>
