@page
@model Pages.Index
@{
    ViewData["Title"] = "Registrar pedidos em uma mesa";
}


<div style="width: fit-content; height: fit-content; border: 1px solid #412f2f; border-radius: 8px;">
    <p>Mesa 1</p>
</div>
</div>
