@page
@model Pages.Index
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1 class="m-2">Registrar pedidos em uma mesa</h1>

    <div style="width: fit-content; height: fit-content; border: 1px solid #412f2f; border-radius: 8px;"
     <p>Mesa 1</p>
    </div>
    <Button></Button>
</div>