@page
@model TodoApi.Pages.Configurations.Waiters.Index

@{
    ViewData["Title"] = "Configurações - Garçons";
}


@await Component.InvokeAsync("ConfigurationMenu")

<div>
    <section class="antialiased bg-gray-100 text-gray-600 p-4">
        <div class="flex flex-col justify-center h-full">
            <div class="w-full  mx-auto bg-white shadow-lg rounded-xl border border-gray-200">
                <header class="px-5 py-4 border-b border-gray-100 flex justify-between">
                    <h2 class="font-semibold text-gray-800">Visão geral</h2>
                    <a href="./Waiters/Create">
                        <button
                            class="bg-indigo-500 hover:bg-indigo-600 text-white font-semibold py-2 px-4 rounded inline-flex items-center">
                            <span>Criar novo</span>
                        </button>
                    </a>
                </header>
                <div class="p-3">
                    <div class="overflow-x-auto">
                        <table class="table-auto w-full">
                            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                                <tr>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Id</div>
                                    </th>

                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Matrícula</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Nome</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Sobrenome</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Telefone</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-right">Ações</div>
                                    </th>
                                </tr>
                            </thead>
                            @if (Model.waiters.Any())
                            {
                                <tbody class="text-sm divide-y divide-gray-100">
                                    @foreach (var item in Model.waiters)
                                    {
                                        <tr>
                                            <td class="p-2 whitespace-nowrap">
                                                <div class="text-left">#@item.Id</div>
                                            </td>
                                            <td class="p-2 whitespace-nowrap">
                                                <div class="text-left">@item.Code</div>
                                            </td>
                                            <td class="p-2 whitespace-nowrap">
                                                <div class="text-left">@item.FirstName</div>
                                            </td>
                                            <td class="p-2 whitespace-nowrap">
                                                <div class="text-left">@item.LastName</div>
                                            </td>
                                            <td class="p-2 whitespace-nowrap">
                                                <div class="text-left">@item.Phone</div>
                                            </td>
                                            <td class="p-2 whitespace-nowrap flex justify-end">
                                                <a href="./Waiters/Edit/@item.Id" class="pr-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="20px"
                                                height="20px">
                                                        <path
                                                    d="M 20.09375 0.25 C 19.5 0.246094 18.917969 0.457031 18.46875 0.90625 L 17.46875 1.9375 L 24.0625 8.5625 L 25.0625 7.53125 C 25.964844 6.628906 25.972656 5.164063 25.0625 4.25 L 21.75 0.9375 C 21.292969 0.480469 20.6875 0.253906 20.09375 0.25 Z M 16.34375 2.84375 L 14.78125 4.34375 L 21.65625 11.21875 L 23.25 9.75 Z M 13.78125 5.4375 L 2.96875 16.15625 C 2.71875 16.285156 2.539063 16.511719 2.46875 16.78125 L 0.15625 24.625 C 0.0507813 24.96875 0.144531 25.347656 0.398438 25.601563 C 0.652344 25.855469 1.03125 25.949219 1.375 25.84375 L 9.21875 23.53125 C 9.582031 23.476563 9.882813 23.222656 10 22.875 L 20.65625 12.3125 L 19.1875 10.84375 L 8.25 21.8125 L 3.84375 23.09375 L 2.90625 22.15625 L 4.25 17.5625 L 15.09375 6.75 Z M 16.15625 7.84375 L 5.1875 18.84375 L 6.78125 19.1875 L 7 20.65625 L 18 9.6875 Z" />
                                                    </svg>
                                                </a>

                                                <a href="./Waiters/Delete/@item.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="24px"
                                                height="24px">
                                                        <path fill="#ff0000"
                                                    d="M 6.496094 1 C 5.675781 1 5 1.675781 5 2.496094 L 5 3 L 2 3 L 2 4 L 3 4 L 3 12.5 C 3 13.328125 3.671875 14 4.5 14 L 10.5 14 C 11.328125 14 12 13.328125 12 12.5 L 12 4 L 13 4 L 13 3 L 10 3 L 10 2.496094 C 10 1.675781 9.324219 1 8.503906 1 Z M 6.496094 2 L 8.503906 2 C 8.785156 2 9 2.214844 9 2.496094 L 9 3 L 6 3 L 6 2.496094 C 6 2.214844 6.214844 2 6.496094 2 Z M 5 5 L 6 5 L 6 12 L 5 12 Z M 7 5 L 8 5 L 8 12 L 7 12 Z M 9 5 L 10 5 L 10 12 L 9 12 Z" />
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
